{% extends "::layout/layout.html.twig" %}
 {% block body %}
 	<style>
		img.img{height:151px;width:202px;}
		div.panel.pad{padding-left: 25px;padding-right: 25px; height: 52em;}
		div.panel-heading.heig{height:51em;}
		h4 span{line-height: 1px;}
 	</style>
    <div class="panel panel-default pad">
        <div class="panel-heading heig">
        	<div class="row">
        		<div class="col-md-10 col-md-offset-1">
        			<div class="container">
					  <h3>Bonjour et Bienvenue sur la page d'accueil !</h3>
					  <p>GrandAngle Module de Gestion nous sommes le {{ "now"|date("d/m/Y") }}.</p>
					  <h4>Voici les quatres prochaines expositions</h4>
					</div>
					<br><br>
				</div>
			</div>
			<div class="row">
				<div class="row text-center">
				  <div class="col-md-3">
				    <div class="thumbnail">
				      	{% image '@ModuleGestionBundle/Resources/public/images/example.jpg'
						    filter='jpegoptim' output='/image/example.jpg' %}
						    <img class="img" src="{{ asset_url }}" alt="Example" />
						{% endimage %}
				      <p><strong>Chevaliers et bombardes</strong></p>
				      <p>Vendredi 27 juin 2016</p>
				      <button class="btn">Voir détail</button>
				    </div>
				  </div>
				  <div class="col-md-3">
				    <div class="thumbnail">
				      	{% image '@ModuleGestionBundle/Resources/public/images/example2.jpg'
						    filter='jpegoptim' output='/image/example2.jpg' %}
						    <img class="img" src="{{ asset_url }}" alt="Example" />
						{% endimage %}
				      <p><strong>Beaute congo</strong></p>
				      <p>Lundi 14 Juillet 2016</p>
				      <button class="btn">Voir détail</button>
				    </div>
				  </div>
				  <div class="col-md-3">
				    <div class="thumbnail">
				      	{% image '@ModuleGestionBundle/Resources/public/images/example3.jpg'
						    filter='jpegoptim' output='/image/example3.jpg' %}
						    <img class="img" src="{{ asset_url }}" alt="Example" />
						{% endimage %}
				      <p><strong>Philippe halsman</strong></p>
				      <p>Mercredi 29 Juillet 2016</p>
				      <button class="btn">Voir détail</button>
				    </div>
				  </div>
				   <div class="col-md-3">
				    <div class="thumbnail">
				      	{% image '@ModuleGestionBundle/Resources/public/images/example4.jpg'
						    filter='jpegoptim' output='/image/example4.jpg' %}
						    <img class="img" src="{{ asset_url }}" alt="Example" />
						{% endimage %}
				      <p><strong>Splendeurs et miseres</strong></p>
				      <p>Lundi 13 Aout 2016</p>
				      <button class="btn">Voir détail</button>
				    </div>
				  </div>
				</div>
			</div>
    	</div>
    </div>
    <script>
	    $(document).ready(function(){
	    	$('.btn').click(function() {
	    		alert('Option non disponible dans cette version veuillez nous contacter pour plus d\'informations concernant nos tarifs !')
	    	});
	    });
    </script>
{% endblock %}