{% extends ':layout:layout.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Modification d'un utilisateur
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    {{ form_start(edit_form) }}

                        {# Erreurs générales du formulaire #}
                        {{ form_errors(edit_form) }}

                    <div class="form-group">

                        {# Génération du label #}
                        {{ form_label(edit_form.firstname, "Nom", {'label_attr': {'class': 'col-md-4 control-label ajust'}})}}
                        
                        {# Affichage des erreurs pour ce champs précis #}
                        {{ form_errors(edit_form.firstname) }}

                        <div class="col-md-8">
                            {# Génération de l'input #}
                            {{ form_widget(edit_form.firstname, {'attr': {'class': 'form-control ajust'}}) }}
                        </div>
                    </div>
                    <div class="form-group">

                        {# Génération du label #}
                        {{ form_label(edit_form.lastname, "Prénom", {'label_attr': {'class': 'col-md-4 control-label ajust'}})}}
                        
                        {# Affichage des erreurs pour ce champs précis #}
                        {{ form_errors(edit_form.lastname) }}
                       
                        <div class="col-md-8">
                            {# Génération de l'input #}
                            {{ form_widget(edit_form.lastname, {'attr': {'class': 'form-control ajust'}}) }}
                        </div>
                    </div>
                    <div class="form-group">

                        {# Génération du label #}
                        {{ form_label(edit_form.role, "Role", {'label_attr': {'class': 'col-md-4 control-label ajust'}})}}
                        
                        {# Affichage des erreurs pour ce champs précis #}
                        {{ form_errors(edit_form.role) }}

                        <div class="col-md-8">
                            {# Génération du select #}
                            {{ form_widget(edit_form.role, {'attr': {'class': 'form-control ajust'}}) }}
                        </div>
                    </div>
                    <div class="form-group">

                        {# Génération du label #}
                        {{ form_label(edit_form.email, "Adresse e-mail", {'label_attr': {'class': 'col-md-4 control-label ajust'}})}}
                        
                        {# Affichage des erreurs pour ce champs précis #}
                        {{ form_errors(edit_form.email) }}
                    
                        <div class="col-md-8">
                           {# Génération de l'input #}
                           {{ form_widget(edit_form.email, {'attr': {'class': 'form-control ajust'}}) }}
                        </div>
                    </div>    
                    <div class="form-group">

                        {# Génération du label #}
                        {{ form_label(edit_form.username, "Identifiant", {'label_attr': {'class': 'col-md-4 control-label ajust'}})}}
                        
                        {# Affichage des erreurs pour ce champs précis #}
                        {{ form_errors(edit_form.username) }}
                        
                        <div class="col-md-8">
                            {# Génération de l'input #}
                            {{ form_widget(edit_form.username, {'attr': {'class': 'form-control ajust'}}) }}
                        </div>
                    </div>
                    <div class="form-group">

                        {# Génération du label #}
                        {{ form_label(edit_form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'col-md-4 control-label ajust'}})}}
                        
                        {# Affichage des erreurs pour ce champs précis #}
                        {{ form_errors(edit_form.plainPassword.first) }}

                        <div class="col-md-8">
                            {# Génération de l'input #}
                            {{ form_widget(edit_form.plainPassword.first, {'attr': {'class': 'form-control ajust'}}) }}
                        </div>
                    </div>
                    <div class="form-group">

                        {# Génération du label #}
                        {{ form_label(edit_form.plainPassword.second, "Vérification", {'label_attr': {'class': 'col-md-4 control-label ajust'}})}}
                        
                        {# Affichage des erreurs pour ce champs précis #}
                        {{ form_errors(edit_form.plainPassword.second) }}

                        <div class="col-md-8">
                            {# Génération de l'input #}
                            {{ form_widget(edit_form.plainPassword.second, {'attr': {'class': 'form-control ajust'}}) }}
                        </div>
                    </div>
                </div>
                {% if edit_form.telephones.0 is defined %}
                    
                    <script>
                        $(document).ready(function(){

                            // Nombre de champs téléphone généré
                            var nbElements = $('#utilisateur_telephones_1').length;
                        
                            // On commence le compteur de champs
                            var index = 0;

                            // Tant que les champs existent on génère les labels et input pour afficher les valeurs
                            while ($('#utilisateur_telephones_'+index).length > 0) {

                                // On récupère le lien de suppression
                                var dellink = '<a type="button" name='+index+' title="Supprimer un numéro" alt="Supprimer un numéro" class="glyphicon glyphicon-earphone editlienred"></a>';

                                // On désactive le label de l'indice de collection
                                $('label.required:contains('+index+')').css('display','none');

                                // On récupère le groupe de champs dans son div
                                var enfant  = $('#utilisateur_telephones_'+index).children();

                                // On en extrait les balises descendantes
                                var descendant = enfant.find("*");

                                // Puis on les accompagne une par une dans les balises div mises en forme pour l'affichage
                                $('.labelLib').append(descendant[0]);
                                $('.champslib').append(descendant[1]);
                                $('.labelnum').append(descendant[2]);
                                $('.champsnum').append(descendant[3]);
                                $('.deplace').append(dellink);
                                // On incremente après chaque disposition de champs
                               index++;
                            }

                            $('a').click(function(){
                                alert($(this).attr('name'));
                            });
                           
                        });
                    </script>
                    
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="col-md-2  labelLib"></div>
                            <div class="col-md-3  champslib"></div>
                            <div class="col-md-2  labelnum"></div> 
                            <div class="col-md-4  champsnum"></div>
                            <div class="col-md-1 deplace"></div>
                        </div>
                        <div class="form-group">
                            <a id="newlien" type="button" title="Ajouter un numéro" alt="Ajouter un numéro" class="glyphicon glyphicon-earphone"></a>
                        </div>
                    </div>
                </div>
                
                {% else %}
                    <div class="col-md-1">
                        <a id="newlien" type="button" title="Ajouter un numéro" alt="Ajouter un numéro" class="glyphicon glyphicon-earphone"></a>
                    </div>
                {% endif %}   
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label id="bloc" class="blocdebnew">Bloquer</label>
                <label id="debloc" class="blocdebnew">Debloquer</label> 
            </div>
            <div class="col-md-2">
                 {{ form_widget(edit_form.locked, {'attr': {'class': 'editlocknew'}}) }}
            </div>
            <div class="col-md-5">
                <input id="newutilval" type="submit" value="Valider" />
                <a id="newutilret" href="{{ path('utilisateur_index') }}">Retour</a>
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

        // Gestion du checked
        $('.editlocknew').click(function(){
            if ($( "input:checked" ).val()==1) {
                $("#debloc").css('display','block');
                $("#bloc").css('display','none');
            }else{
                $("#debloc").css('display','none');
                $("#bloc").css('display','block');
            }
        });
       
    </script>
{% endblock %}