{% extends ':layout:layout.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Création d'un utilisateur
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <label class="col-md-4 control-label ajust">Nom</label>
                        <div class="col-md-8">
                            {{ form_widget(form.firstname, {'attr': {'class': 'form-control ajust'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label ajust">Prénom</label>
                        <div class="col-md-8">
                           {{ form_widget(form.lastname, {'attr': {'class': 'form-control ajust'}}) }}
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-md-4 control-label ajust">Role</label>
                        <div class="col-md-8">
                           {{ form_widget(form.role, {'attr': {'class': 'form-control ajust'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label ajust">Adresse e-mail</label>
                        <div class="col-md-8">
                           {{ form_widget(form.email, {'attr': {'class': 'form-control ajust'}}) }}
                        </div>
                    </div>    
                    <div class="form-group">
                        <label class="col-md-4 control-label ajust">Identifiant de connexion</label>
                        <div class="col-md-8">
                            {{ form_widget(form.username, {'attr': {'class': 'form-control ajust'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label ajust">Mot de passe</label>
                        <div class="col-md-8">
                           {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control ajust'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label ajust">Vérification</label>
                        <div class="col-md-8">
                           {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control ajust'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-6">
                        <input id="newutilval" type="submit" value="Valider" />
                        <a id="newutilret" href="{{ path('utilisateur_index') }}">Retour</a>
                    </div>
                </div>
                <div class="col-md-4">
                     <div class="form-group">
                        <label class="col-md-4 control-label tel">Téléphone</label>
                        {# <div class="col-md-8">
                            {{ form_widget(form.telephones, {'attr': {'class': 'form-control tel'}}) }}
                        </div> #}
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label blocdebnew">Blocage & Deblocage</label>
                        {{ form_widget(form.locked, {'attr': {'class': 'editlocknew'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
                
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
    </script>
{% endblock %}
