{% extends ':layout:layout.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Liste d'exposition
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nomexposition</th>
                    <th>Date et heure début</th>
                    <th>Date et heure fin</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for exposition in expositions %}
                <tr>
                    <td>{{ exposition.nomExposition }}</td>
                    <td>{% if exposition.dateHeureDebutExposition %}{{ exposition.dateHeureDebutExposition|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if exposition.dateHeureFinExposition %}{{ exposition.dateHeureFinExposition|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <a id="searchindex" class="glyphicon glyphicon-search" href="{{ path('exposition_show', { 'id': exposition.id }) }}"></a>
                        <a id="editindex" class="glyphicon glyphicon-pencil" href="{{ path('exposition_edit', { 'id': exposition.id }) }}"></a>
                        <a id="delindex" name="{{ path('exposition_delete', { 'id': exposition.id }) }}" class="glyphicon glyphicon-trash" href="{{ path('exposition_delete', { 'id': exposition.id }) }}"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="nav nav-pills">
            <li role="presentation">
                <a id="expo" href="{{ path('exposition_new') }}">Nouveau</a>
            </li>
        </ul>
    </div>
{% endblock %}
