{% extends ':layout:layout.html.twig' %}

{% block body %}
{{ form_start(form, {'attr': {'id': 'formExpo'}}) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            Ajout d'une nouvelle exposition
        </div>
        <div class="container">
            <div class="row">
                <div id="lienrow" class="col-md-5 col-sm-11">
                    <div class="form-group">
                        {# Erreurs générales du formulaire #}
                        {{ form_errors(form) }}
                        <div class="form-group">

                            {# Génération du label #}
                            {{ form_label(form.nomExposition, "Nom", {'label_attr': {'class': 'col-md-4 control-label ajust'}})}}
                            
                            {# Affichage des erreurs pour ce champs précis #}
                            {{ form_errors(form.nomExposition) }}

                            <div class="col-md-8">
                                {# Génération de l'input #}
                                {{ form_widget(form.nomExposition, {'attr': {'class': 'form-control ajust'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {# Génération du label #}
                            {{ form_label(form.dateHeureDebutExposition, "Date Début", {'label_attr': {'class': 'col-md-4 control-label ajust'}})}}
                            
                            {# Affichage des erreurs pour ce champs précis #}
                            {{ form_errors(form.dateHeureDebutExposition) }}

                            <div class="col-md-8">
                                {# Génération de l'input #}
                                {{ form_widget(form.dateHeureDebutExposition, {'attr': {'class': 'form-control ajust calendar'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {# Génération du label #}
                            {{ form_label(form.dateHeureFinExposition, "Date Fin", {'label_attr': {'class': 'col-md-4 control-label ajust'}})}}
                            
                            {# Affichage des erreurs pour ce champs précis #}
                            {{ form_errors(form.dateHeureFinExposition) }}

                            <div class="col-md-8">
                                {# Génération de l'input #}
                                {{ form_widget(form.dateHeureFinExposition, {'attr': {'class': 'form-control ajust calendar'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {# Génération du label #}
                            {{ form_label(form.nombreVisiteExposition, "Nombres visites", {'label_attr': {'class': 'col-md-4 control-label ajust'}})}}
                            
                            {# Affichage des erreurs pour ce champs précis #}
                            {{ form_errors(form.nombreVisiteExposition) }}

                            <div class="col-md-8">
                                {# Génération de l'input #}
                                {{ form_widget(form.nombreVisiteExposition, {'attr': {'class': 'form-control ajust'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {# Génération du label #}
                            {{ form_label(form.evenement, "Evenement", {'label_attr': {'class': 'col-md-4 control-label ajust'}})}}
                            
                            {# Affichage des erreurs pour ce champs précis #}
                            {{ form_errors(form.evenement) }}

                            <div class="col-md-12">
                                {# Génération de l'input #}
                                {{ form_widget(form.evenement, {'attr': {'class': 'ajust'}}) }}
                            </div>
                        </div>
                        <div class="form-group">

                            {# Génération du label #}
                            {{ form_label(form.auteur, "Auteur", {'label_attr': {'class': 'col-md-4 control-label ajust'}})}}
                            
                            {# Affichage des erreurs pour ce champs précis #}
                            {{ form_errors(form.auteur) }}

                            <div class="col-md-12">
                                {# Génération de l'input #}
                                {{ form_widget(form.auteur, {'attr': {'class': 'ajust'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="champs" class="col-md-10 col-sm-10 col-xs-10">
                <div class="form-group">
                    <div class="form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2 labeldes"></div>
                        <div class="col-md-4 col-sm-3 col-xs-10 champsdes"></div>
                        <div class="col-md-1 col-sm-2 col-xs-2 labellang"></div>
                        <div class="col-md-3 col-sm-3 col-xs-10 champslang"></div>
                        <div class="col-md-1 col-sm-1 col-xs-1 deplace"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="exposition" class="form-group col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-md-5">
                    <input type="submit" value="Enregistrer" />
                    <a href="{{ path('exposition_index') }}">retour</a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {% javascripts 'js/jquery.datetimepicker.full.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $.datetimepicker.setLocale('fr');
            $('.calendar').datetimepicker({
                dayOfWeekStart : 1,
                lang:'fr',
                format:'d/m/Y H:i',
            });
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#exposition_auteur').append('<option value="NewAut"> Nouvel Auteur </option>');
            $('#exposition_auteur').attr('onchange','FunctionNewAuteur()');

            //On récupére la balise <div> en question qui contient l'attribut "data-prototype" qui nous intéresse.
            var $container = $('div#exposition_textexpositions');
            //On repositionne sur la page
            $('#exposition').append($container);
            var $newcontainer = $('#exposition');
            $('form#formExpo').append($newcontainer);

            //On ajoute un lien pour ajouter un nouveau textexposition
            var $addLink =$('<a type="button" id="add_textexposition" class="glyphicon glyphicon-plus vert"></a>');
            $container.append($addLink);

            $('form#formExpo').append($addLink);

            //On ajoute un nouveau champs à chaque clic sur le lien d'ajout.
            $addLink.click(function(e) {
                addTextExposition($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'url
                return false;
            });

            //On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement 
            var index = $container.find(':input').length

            //On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle exposition par exemple).
            if (index==0) {
                addTextExposition($container);
            } else {
                //Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                $container.children('div').each(function () {
                    addDeleteLink($(this));
                });
            }

            //La function qui ajoute un formulaire textexposition
            function addTextExposition($Container) {
                // Dans le contenu de l'attribut "Data-prototype", on remplace

                // le texte "__name__label__" qu'il contient par le label du champ

                // le texte "__name__" qu'il contient par le numro du champ
                var $prototype = $($container.attr('data-prototype').replace(/__name__label_/g, 'Texte n°' + (index+1)).replace(/__name__/g, index));

                $newprototype = $($prototype);

                var descendant = $newprototype.find('*');

                // Puis on les accompagne une par une dans les balises div mises en forme pour l'affichage
                $('.labeldes').append(descendant[3]);
                $('.champsdes').append(descendant[4]);
                $('.labellang').append(descendant[6]);
                $('.champslang').append(descendant[7]);

                // On ajoute au prototype un lien pour pouvoir supprimer le telephone
                addDeleteLink($('.deplace'));

                //on ajoute le prototype modifié à la fin de la balise <div>
                $('#lienrow').append($('#add_textexposition'));

                //enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }
            //la fonction qui ajoute un lien de suppression d'un text
            function addDeleteLink($prototype) {
                //création du lien 
                $deleteLink = $('<a type="button" name="'+index+'" class="glyphicon glyphicon-minus red"></a>');

                //Ajout du lien
                $prototype.append($deleteLink);

                //Ajout du listener sur le clic du lien
                $deleteLink.click(function(e) {

                    // On récupère l'index du champs à supprimer
                    var num = $(this).attr('name');
                    // On supprime les champs un à un
                    // Label descript
                    $('[for="exposition_textexpositions_'+num+'_description"]').remove();
                    // Champs descript
                    $('[id="exposition_textexpositions_'+num+'_description"]').remove();
                     // Label langue
                    $('[for="exposition_textexpositions_'+num+'_langue"]').remove();
                    // Champs langue
                    $('[id="exposition_textexpositions_'+num+'_langue"]').remove();
                    $(this).remove();
                    
                    e.preventDefault(); // Evite qu'un # apparaisse dans l'URL
                    index--;
                    return false;
                });
;            }
        });

        function FunctionNewAuteur() {

            if($('#exposition_auteur').val() == "NewAut"){
                document.location.href="{{ path('auteur_new') }}";
            }
        }
    </script>
{% endblock %}