{# extends 'base.html.twig' #}
{% extends ':layout:layout.html.twig' %}

{% block body %}
    <h1>Exposition</h1>
    <table  class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exposition.id }}</td>
            </tr>
            <tr>
                <th>Nomexposition</th>
                <td>{{ exposition.nomExposition }}</td>
            </tr>
            <tr>
                <th>Dateheuredebutexposition</th>
                <td>{% if exposition.dateHeureDebutExposition %}{{ exposition.dateHeureDebutExposition|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateheurefinexpositon</th>
                <td>{% if exposition.dateHeureFinExpositon %}{{ exposition.dateHeureFinExpositon|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nombrevisiteexposition</th>
                <td>{{ exposition.nombreVisiteExposition }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="nav nav-pills">
        <li role="presentation">
            <a id="oeuv" href="{{ path('exposition_index') }}">Back to the list</a>
        </li>
        <li role="presentation">
            <a id="deco" href="{{ path('exposition_edit', { 'id': exposition.id }) }}">Edit</a>
        </li>
        <li role="presentation">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
