{% extends "::layout/layout.html.twig" %}
 {% block body %}
 	<style>
		img.img{height:151px;width:202px;margin-top:10px;margin-bottom:10px;border:1px black solid;}
		div.panel.pad{padding-left: 25px;padding-right: 25px; height: 52em;}
		div.panel-heading.heig{height:51em;}
		h4 span{line-height: 1px;}
		button.btn{margin-bottom:10px;}
 	</style>
    <div class="panel panel-default pad">
        <div class="panel-heading heig">
        	<div class="row">
        		<div class="col-md-10 col-md-offset-1">
        			<h3>Bonjour et Bienvenue sur la page d'accueil !</h3>
					<p>GrandAngle Module de Gestion nous sommes le {{ "now"|date("d/m/Y") }}.</p>
					<h4>Voici les quatres prochaines expositions</h4>
					<br><br>
				</div>
			</div>
			<div class="row">
				<div class="row text-center">
					{% for exposition in expositions %}
					<div class="col-md-3">
					    <div class="thumbnail">
							<img class="img" src="{{ app.request.basepath }}/upload/{{ exposition.Fichier}}" alt="Image Exposition" />
					       	<p><strong>{{ exposition.Nom }}</strong></p>
					       	<p>{{ exposition.DateHeure }}</p>
					       	<button class="btn 1">Voir détail</button>
					    </div>
					</div>
					{% endfor %}
				</div>
			</div>
    	</div>
    </div>
    <script>
	    $(document).ready(function(){
	    	$('.btn.1').click(function() {
	    		alert('Option non disponible dans cette version veuillez nous contacter pour plus d\'informations concernant nos tarifs !')
	    	});
	    	$('.btn-lg a').css('color', 'white');
	    });
    </script>
{% endblock %}