{% extends ':layout:layout.html.twig' %}

{% block body %}
    {{ form_start(edit_form) }}

    <div class="panel panel-default">
        <div class="panel-heading">
            Modification d'une oeuvre
        </div>
        <div class="container">
            <div class="row">

            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit" />

        

            </div>
        </div>
    </div>

    {{ form_end(edit_form) }}
{% endblock %}
<!--   <ul>
            <li>
                <a href="{{ path('oeuvre_index') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul> -->