{% extends ':layout:layout.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Liste des oeuvres
        </div>
        <div class="container">
            {# Selection de l'exposition #}
            <div id="choiceexpo" class="row">
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <select id="choixExpo" class="form-control" name="expo">
                            <option value="choix">Choisissez une exposition</option>
                        {% for exposition in expositions %}
                            <option value="{{ exposition.id }}">{{ exposition.nomExposition }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            {# Affichage de la liste des oeuvres #}
            <div class="row">
                <div id="scrolloeuv" class="col-md-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Etat</th>
                                <th>Artiste</th>
                                <th>Type</th>
                                <th>Nombre de visite</th>
                                <th>Position</th>
                                <th>Actions</th>
                                <th>Imprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                        {#<!-- {% if oeuvres is defined %}#}
                            {#{% for oeuvre in oeuvres %} -->#}
                            <tr id="list">
                                <td>{#{ oeuvre.nom }#}</td>
                                <td>Artiste</td>
                                <td>Type</td>
                                <td>{#{ oeuvre.etat }#}</td>
                                <td>{#{ oeuvre.nombreVisite }#}</td>
                                <td></td>
                                <td>
                                    <a id="searchindex" title="Voir détail" class="glyphicon glyphicon-search" href="{#{ path('oeuvre_show', { 'id': oeuvre.id }) }#}"></a>
                                    <a id="editindex" title="Modifier" class="glyphicon glyphicon-pencil" href="{#{ path('oeuvre_edit', { 'id': oeuvre.id }) }#}"></a>
                                    <a id="delindex" title="Supprimer" name="{#{ path('oeuvre_delete', { 'id': oeuvre.id }) }#}" class="glyphicon glyphicon-trash" href="{#{ path('oeuvre_delete', { 'id': oeuvre.id }) }#}"></a> 
                                </td>
                                <td><a id="qrcindex" title="Imprimer un Qrcode" href="" class="glyphicon glyphicon-qrcode"></a> </td>
                            </tr>
                           {#<!--  {% endfor %}#}
                        {#{% endif %} -->#}
                        </tbody>
                    </table>
                </div>
            </div>
            {# Emplacement des oeuvres dans la salle #}
            <div id="iconew" class="row">
                <div class="col-md-8">
                    {% image 'image/emplacement.png' %}
                        <img id="place" class="img-responsive" title="Emplacements" src="{{ asset_url }}"/>
                    {% endimage %}
                </div>
                <div class="col-md-4">
                    <ul class="nav nav-pills">
                        <li role="presentation">
                            <a id="newoeuv" title="Nouvelle oeuvre" href="{{ path('oeuvre_new') }}">Nouvelle</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
  <script>

    $(document).ready(function(){

        // Gestion de l'ascenseur si il dépasse la hauteur du tableau
        if ($(".table").height() < $("#scrolloeuv").height()) {
            $("#scrolloeuv").css("overflow-y" , "hidden");
        }else{
            $("#scrolloeuv").css("overflow-y" , "scroll");
        }

        // Choix d'une exposition
        $('#choixExpo').change(function(){
            var id = $(this).val();
            if (id != 'choix') {

               function ajaxCall(id){
                    var list = $('#list'); // récupérer l'élément liste du code HTML
                    $.ajax({
                        url: "{{ path('list_oeuvre') }}", // On renseigne l'url TWIG
                        method: "post",
                        data: {id: id} // On passe l'id dans la requête
                    }).done(function(msg){
                        refreshList(msg);
                    });
               }

               function refreshList(msg){
                    // mettre à jour les données de la page
                    list.innerHTML = ""; // Efface la liste
                    // Pour chaque élément trouvé dans le document JSON, on peuple la liste
                    $.each(JSON.parse(msg['data']), function(i, item) {
                        var li = document.createElement('td');
                        var li2 = document.createElement('td');
                        var text = document.createTextNode(item.nom);
                        var text2 = document.createTextNode(item.etat);
                        li.appendChild(text);
                        li2.appendChild(text2);
                        list.appendChild(li);
                        list.appendChild(li2);

                    });
               }

               ajaxCall(id);
            }else{
                list.innerHTML = ""; // Efface la liste
            }
        });
        

    });
    
  </script>  
{% endblock %}