{% extends ':layout:layout.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            Création d'une nouvelle oeuvre
        </div>
        <div class="container">
            {# Selection de l'artiste et Etat de l'oeuvre #}
            <div class="row">
                <div class="col-md-2">
                    <label for="Art" class="control-label ajust">Choisissez un artiste</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control" name="art">
                        <option value="1">Artiste 1</option>
                        <option value="2">Artiste 2</option>
                        <option value="3">Artiste 3</option>
                        <option value="4">Artiste 4</option>
                        <option value="#">Nouvel artiste</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input id="file" type="file" accept="image/*">
                    </div>
                    <div class="col-md-12">
                        <div id="progressbar"><div class="progress-label">Loading...</div></div>
                    </div>
                </div>
                <div class="col-md-2">
                    {% image 'image/specimen.png' %}
                        <img class="img-responsive" title="Image Oeuvre" src="{{ asset_url }}" width="141px" height="141px"/>
                    {% endimage %}
                </div>
                <div class="col-md-3">
                    {{ form_label(form.etat)}}
                    {{ form_widget(form.etat) }}
                </div>
            </div>
            
            <div class="row">
            </div>
                {{ form_widget(form) }}
                <input type="submit" value="Create" />
            <ul>
                <li>
                    <a href="{{ path('oeuvre_index') }}">Back to the list</a>
                </li>
            </ul>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
