{% extends ':layout:layout.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading show">
            Détail de l'oeuvre
        </div>
        <div class="container">
            <div class="form-group">
                <a id="showoeuvret" href="{{path('oeuvre_index')}}">Retour</a>
                <a id="showoeuvedit" href="">Modifier</a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table shooeuv">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ oeuvre.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ oeuvre.nom }}</td>
                            </tr>
                            <tr>
                                <th>Edition du flashCode</th>
                                <td>
                                    {% if oeuvre.genFlashcode %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Image du flashCode</th>
                                <td>
                                    {% if oeuvre.imgFlashcode is defined and oeuvre.imgFlashcode is not null %}
                                    <img src="{{ qrcode_url(oeuvre.imgFlashcode, { extension: 'png'}) }}" alt="FlashCode">
                                    {# <img src="{{ oeuvre.imgFlashcode }}" alt="FlashCode"> #}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Etat</th>
                                <td>{{ oeuvre.etat }}</td>
                            </tr>
                            <tr>
                                <th>Nombre de visite</th>
                                <td>
                                    {% if oeuvre.nombreVisite is empty %}
                                        Non Défini
                                    {% else %}
                                        {{ oeuvre.nombreVisite }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-5">
                    {% if oeuvre.texteoeuvres is defined %}
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Description</th>
                                    <th>Langue</th>
                                </tr>
                            {% for texteoeuvre in oeuvre.texteoeuvres %}
                                <tr>
                                    <td>{{ texteoeuvre.description }}</td>
                                    <td>{{ texteoeuvre.langue }}</td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
